body {
    background-image: url('../images/bg-01.jpg');
    background-repeat: round;
    background-size: cover;
    height: 100%;
}

html,
body {
    height: 100%;
}

#login_h1 {
    margin-bottom: -50px;
    font-weight: bolder;
    text-align: center;
    width: fit-content;
    max-width: 100%;
    background-attachment: inherit;
    text-shadow: 10px aliceblue;
}

a {
    color: whitesmoke;
    text-decoration: none;
    font-size: larger;
}

select {
    border: 0ch;
}

#showPwd {
    position: relative;
    background-color: inherit;
}

.nav_bar001,
nav>ul>li {
    text-align: justify;
    color: white;
    text-decoration: none;
    padding: 10px;
    padding-left: 10%;
}

.nav_bar001 {
    width: 150px;
}

.nav_bar001,
nav>ul>li>a:hover {
    color: chartreuse;
    font-size: x-large;
}
.nav_height {
    height: 100%;
    width: 20%;
    margin-bottom: 0px;
}
svg{
    caret-color: transparent;
}